body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

#tools {
  margin-bottom: 5px;
}

#board {
  border: 1px solid #333;
  margin-bottom: 10px;
}

#chat {
  width: 800px;
}

#messages {
  list-style-type: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #333;
  margin-bottom: 5px;
}

#form {
  display: flex;
}

#input {
  flex: 1;
}
